vars.sh
vault.yml
.vault_password
kcli-plans/kcli-profiles.yml
.generated/
.generated/*
1_infra_*/.terraform/
1_infra_*/.terraform/*
1_infra_*/terraform.tfstate
1_infra_*/terraform.tfstate*
1_infra_*/.terraform*
1_infra_*/terraform*